<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Email</title>
    <style>
        body {
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }
        #welcome {
            text-align: center;
        }
    </style>
</head>
<body>
Hi,<br>
<span th:text="${name}"></span>
<br>
Welcome To <span th:text="${cource}"></span> tutorial
</body>
</html>